body {
   font-family: 'Montserrat', sans-serif;
   background-color: #F5F7FA;
}
.main {
   display: flex;
   flex-direction: row-reverse;
   background-color: #FFFFFF;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
   width: 1200px;
   margin: 0 auto;
}
.left {
   background-color: #1E2939;
   width: 370px;
   margin-left: 40px; 
   border-radius: 32px;
   padding: 4px;
}
.sidebar-title {
   margin-bottom: 10px;
   color: #FFFFFF;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
}
.tech-skills,
.soft-skills{
   margin-left: 40px;
   margin-bottom: 30px;
   color: #FFFFFF;
}
.Contacts {
   margin-left: 40px;
   margin-bottom: 50px;
   color: #FFFFFF;
}
.contacts-item{
   color: #FFFFFF;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.tech-skills-list,
.soft-skills-list {
   color: #FFFFFF;
   padding: 0;
   margin-left: 22px;
}

.tech-skills-item,
.soft-skills-item {
   color: #FB6D3A;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 24px;
}
      .tech-skills-text:hover,
      .soft-skills-text:hover{
      color: #FB6D3A;
      }

.tech-skills-text,
.soft-skills-text{
   color: #FFFFFF;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
}
.avatar{
   margin: 30px 20px 10px 20px;
   width: 330px;
   border-radius: 32px;
   box-shadow: 4px 7px 12px rgba(0, 0, 0, 25);
} 
.right{
   padding: 90px 90px;
 
}
.info-top{
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 17px;
   color: #000000;
   }
.hh1{
   margin-top: 20px;
   margin-bottom: 25px;
   font-style: normal;
   font-weight: bold;
   font-size: 45px;
   line-height: 55px;
   color: #000000;
   }
.info-bottom{
   margin-bottom: 40px;
   width: 400px;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   }
.title{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #000000;
}
.hh2{
   margin-bottom: 45px;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #000000;
}
   .project{
      padding: 0;
      margin-left: 17px;
   }
      .projects-item{
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 24px;
         color: #000000;
      }
      .projects-text{
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         line-height: 24px;
         color: #595959;
      }
      .projects-link{
         margin-left: 10px;
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         line-height: 24px;
         color: #595959;
         text-decoration: none;
      }
      .projects-b{
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 24px;
         color: #000000;
      }
.experience-level{
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
}
   .experience-position{
      color: #FB6D3A;
   }
   .experience-time{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #A8A8A8;
   }
   .experience-time:hover{
      color: #000000;
      font-size: 13px;
      transition-delay: 0.1s;
   }
   .experience-list{
      margin: 19px;
      padding: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
   }
.education{
   margin-bottom: 0;
}
   .education-level{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
   }
   .Language {
      margin-left: 40px;
      margin-bottom: 25px;
      color: #FFFFFF;
   }
   .contacts-item{
      color: #FFFFFF;
      text-decoration: none;
   }
